apiVersion: v1
kind: Secret
metadata:
  name: passwd-if-app-secrets
type: Opaque
data:
  FLASK_SECRET_KEY: <BASE64_FLASK_SECRET_KEY>
  LDAP_BIND_PASS: <BASE64_LDAP_BIND_PASS>
  TOKEN_EMAIL_CONFIG_SMTP_PASS: <BASE64_SMTP_PASS>
  TOKEN_SLACK_CONFIG_WEB_API_TOKEN: <BASE64_SLACK_TOKEN>